<div class="player-iframes full-size">

    <div class="player-sc-iframe full-size">
      <iframe 
        id="sc-widget" 
        src="https://brutalist.report/"
        scrolling="no" 
        frameborder="no">
      </iframe>
    </div>

</div>
