<div class="player-iframes full-size">

    <div class="player-sc-iframe full-size">
      <iframe 
        id="sc-widget" 
        src="https://brutalist.report/"
        scrolling="yes" 
        frameborder="yes">
      </iframe>
    </div>

</div>
