<div class="player-iframes full-size">

    <div class="player-sc-iframe full-size">
      <iframe 
        id="sc-widget" 
        src="https://play.famobi.com/wrapper/bubble-tower-3d/A1000-10"
        scrolling="no" 
        frameborder="no">
      </iframe>
    </div>

</div>
